Source: scheme-bytestructures
Section: lisp
Priority: optional
Maintainer: Vagrant Cascadian <vagrant@debian.org>
Build-Depends: debhelper-compat (=13),
 guile-3.0-dev,
 pkgconf,
Standards-Version: 4.7.0
Rules-Requires-Root: no
Homepage: https://github.com/TaylanUB/scheme-bytestructures/
Vcs-Git: https://salsa.debian.org/debian/scheme-bytestructures.git
Vcs-Browser: https://salsa.debian.org/debian/scheme-bytestructures

Package: guile-bytestructures
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends},
 guile-3.0,
Description: Structured access to bytevector contents
 This library offers a system imitating the type system of the C
 programming language, to be used on bytevectors.  C's type system
 works on raw memory, and bytestructures works on bytevectors which
 are an abstraction over raw memory in Scheme.  The system is in fact
 more powerful than the C type system, elevating types to first-class
 status.
